[bans]
multiple-versions = "deny"
deny = [
    { name = "openssl" }, # just no
    { name = "socket" }, # socket2 should be used 

    # deprecated/abandoned
    { name = "term" },              # term is not fully maintained, and termcolor is replacing it
    { name = "app_dirs" },          # abandoned, use app_dirs2 instead
    { name = "colored" },           # not actively maintained? slow to merge update fixes in and has lots of old dependencies
]
allow = []
skip = [
    # Windows stuff shouldn't be used so I assume it's feature gated out regardles
    { name = "windows-sys", version = "*"},
    { name = "thiserror-impl" },
    { name = "thiserror" },
    { name = "smallvec", version = "2.0.0-alpha.10" },
    { name = "digest", version = "*" },
    { name = "crypto-common", version = "*" },
    { name = "block-buffer", version = "*" },
    { name = "itertools", version = "*" },
]

[advisories]
unmaintained = "workspace"

[licenses]
version = 2
# We want really high confidence when inferring licenses from text
confidence-threshold = 0.93
allow = ["Apache-2.0", "BSD-3-Clause", "BSD-2-Clause", "MIT", "Unicode-3.0", "ISC", "OpenSSL", "Zlib"]
exceptions = [
]
